<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>

            <!-- login form -->
            <form>
                <h2>Log in</h2>
                <label for="email">Email</label>
                <input type="text" name="email" required>
                <div class="email error"></div>

                <label for="password">Password</label>
                <input type="password" name="password" required>
                <div class="password error"></div>

                <button>login</button>
            </form>



            <script>
                const form = document.querySelector('form');

                //grabbing error feilds
                const emailError = document.querySelector('.email.error');
                const passwordError = document.querySelector('.password.error');

                //submit button
                form.addEventListener('submit', async (e) => {
                    e.preventDefault();

                    //reset error feilds
                    emailError.textContent = '';
                    passwordError.textContent = '';

                    //get values from input feild
                    const email = form.email.value;
                    const password = form.password.value;

                    //try to signup
                    try {

                        //post req to signup
                        const res = await fetch('/login', {
                            method: 'POST',
                            body: JSON.stringify({ email, password }),
                            headers: { 'Content-Type': 'application/json' }
                        });

                        //error handeling
                        const data = await res.json();
                        if (data.errors) {
                            emailError.textContent = data.errors.email;
                            passwordError.textContent = data.errors.password;
                        }

                        //if successful redirect to home page
                        if (data.user) {
                            location.assign('/blogs');
                        }
                    }
                    catch (err) {
                        console.log(err);
                    }
                })
            </script>

            <%- include('partials/footer'); -%>