<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/navbar.ejs') %>

            <h1 style="margin-left:20vw">Your Privacy is Our Duty</h1>
            <div class="about content">
                <h2>About Us</h2>
                <p>Confessions pages act as a medium for students to express their emotions, beliefs, and troubles
                    anonymously with their
                    community. Confessions pages can also be a de facto message board where students can ask for help
                    regarding issues about
                    schoolwork and affairs. Confessions pages are becoming very popular among not only universities but
                    also high schools.
                    For instance, Boulder High School in CO and Swinburne University Sarawak in Malaysia have popular
                    confessions pages that
                    are flooded with posts about crushes and other relationship details. Students feel comfortable on
                    revealing their
                    thoughts on confessions pages due to the complete anonymity of their posts. However, due to the
                    anonymity, the pages
                    sometimes have to be reviewed by their creators as some users may post about sensitive topics that
                    may be related to
                    race or sexual orientation, as well as political and religious content.</p>
            </div>
            <br><br>
            <div class="about content">
                <h2>Terms and Conditions</h2>
                <p>Not added yet</p>
            </div>
            <br><br>
            <div class="about content">
                <h2><a href="/user/61540e9ff0c42ce72a6f9487" style="color: gold;">Founder- Akash Kumar</a></h2>
            </div>
            <%- include('../partials/footer.ejs') %>

    </body>

</html>